language: R
pandoc_version: 2.9.2.1

sudo: required

cache:
  packages: true
  directories:
  - _book

warnings_are_errors: false

addons:
  apt:
    packages:
      - pandoc
      - libxml2-dev

before_script:
  - chmod +x ./scripts/travis.sh

script:
  - ./scripts/travis.sh

deploy:
  provider: pages                         # Specify the gh-pages deployment method
  skip_cleanup: true                      # Don't remove files
  github_token: $GITHUB_TOKEN             # Set in travis-ci.org dashboard
  local_dir: docs                         # Deploy the docs folder
  fqdn: es.r4ds.hadley.nz                 # Set custom domain name
  on:
    branch: traduccion

git:
  depth: 1
