@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Fira+Mono:400,700');

body, h1, h2, h3, h4, h5, p, a, .book.font-family-1 { font-family: 'Fira Sans', sans-serif;}

.book .book-body .page-wrapper .page-inner section.normal code, .book .book-body .page-wrapper .page-inner section.normal pre { font-family: 'Fira Mono', monospace;}

.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}

#header h4.author {
  margin: 0;
  color: #666;
}

#header h4.author em {
  font-style: normal;
}
